<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    

    <title>Document</title>

</head>

<body>
    <nav>

        <a href="/">home</a>
        <a href="/games">games</a>
        <a href="/consoles">consoles</a>
        {{#if logged_in}}
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
        
    </nav>







    {{{body}}}



    <script src="https://cdn.tailwindcss.com"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>