<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <link rel="stylesheet" href="/css/style.css">
    

    <title>AnyYes</title>

</head>

<body>
    <nav>

        <a href="/">home</a>
        <a href="/games">games</a>
        <a href="/consoles">consoles</a>
        
        {{#if logged_in}}
        <a href="/profile">profile</a>
        <button class="no-button" id="logout">logout</button>
        
        {{else}}
        <a href="/login">login</a>
        {{/if}}
        
    </nav>







    {{{body}}}




 <footer >
        <div class="footer-content">
            <div class="footer-links">
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/terms">Terms of Service</a>
                <a href="/privacy">Privacy Policy</a>
            </div>
            <p>&copy; 2023 AnyYes. All rights reserved.</p>
        </div>
    </footer>


    <script src="https://cdn.tailwindcss.com"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>