<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Bulma CSS --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {{!-- splide css --}}
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/themes/splide-sea-green.min.css">
    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Shade&family=Kulim+Park:wght@200;400;700&family=Limelight&display=swap"
        rel="stylesheet">
    {{!-- Our CSS --}}
    <link rel="stylesheet" href="/css/style.css">
    <title>AnyYes</title>
</head>

<body>
    {{!-- navigation bar --}}
    <nav class="navbar p-4">
        {{!-- app/brand name --}}
        <div class="navbar-brand ml-4">
            <a href="/" class="nav-item">
                <h1 id="anyyes" class="">AnyYes</h1>
            </a>
            {{!-- burger must be last child of navbar-brand --}}
            <a role="button" id="burger" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {{!-- search bar --}}
        <div class="field is-grouped nav-item ml-6 mt-5 px-3" id="search">
            <p class="control is-expanded">
                <input class="input is-medium is-fullwidth" id="search-bar" type="text"
                    placeholder="Search for ANYITEM">
            </p>
            <p class="control">
                <a class="button is-info is-medium" id="search-btn">
                    Search
                </a>
            </p>
        </div>

        {{!-- actual nav links --}}
        <div id="menu" class="navbar-menu m-5 p-2">

            <div class="navbar-end">
                <a href="/" class="nav-item px-2">Home </a><br>
                <a href="/category/games" class="nav-item px-2">Games </a><br>
                <a href="/category/consoles" class="nav-item px-2">Consoles </a><br>

                {{#if logged_in}}
                <a href="/profile" class="nav-item px-2">Profile</a><br>
                <a href="/cart" class=" nav-item px-2">Cart</a><br>
                <a class="nav-item px-2">
                    <button class="no-button" id="logout">Quit</button>
                </a>

                {{else}}
                <a class="js-modal-trigger nav-item px-2">
                    <button class="no-button" id="login-nav" data-target="login-modal">Start</button>
                </a>
                {{!-- <a href="/login" class="js-modal-trigger nav-item px-2" data-target="login-modal"
                    id="login-nav">Start</a> --}}
                {{/if}}
            </div>
        </div>
        </div>
    </nav>

    {{{body}}}

    <footer>
        {{!-- bg image in css --}}
    </footer>

    {{!-- modal for login/signup --}}
    <div class="modal" id="login-modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
                <p class="modal-card-title">Modal title</p>
                <button class="delete" aria-label="close"></button>
            </header>
            <section class="modal-card-body">


                {{!-- forms --}}

                HELLO

                <div
                    class="hero is-fullheight is-flex is-flex-direction-column is-justify-content-center is-paddingless is-mobile">
                    <div
                        class="container has-text-centered is-flex is-flex-direction-column is-align-items-center mt-5">
                        <form class="mb-6 login-form" action="#">
                            <div>
                                <label for="email" class="is-block is-size-6 has-text-weight-medium has-text-grey-dark">
                                    Email address
                                </label>
                                <div class="mt-2">
                                    <input id="email" name="email" type="email" autocomplete="email" required
                                    class="input is-rounded is-shadowless is-fullwidth has-text-grey-dark is-size-6 has-placeholder-grey is-focus is-indigo is-sm is-leading-6">
                                </div>
                            </div>




                            <div>
                                <div class="flex items-center justify-between">
                                    <label for="password"
                                        class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                                    <div class="text-sm">
                                        <a href="#" class="font-semibold text-indigo-600 hover:text-indigo-500">Forgot
                                            password?</a>
                                    </div>
                                </div>
                                <div class="mt-2">
                                    <input id="password" name="password" type="password" autocomplete="current-password"
                                        required
                                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                                </div>
                            </div>

                            <div>
                                <button type="submit"
                                    class="login-form flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">Sign
                                    in</button>
                            </div>
                        </form>

                        <p class="mt-10 text-center text-sm text-gray-500">
                            Not a member?
                            <a href="#" class="font-semibold leading-6 text-indigo-600 hover:text-indigo-500">Start a 14
                                day free
                                trial</a>
                        </p>
                    </div>
                </div>


                {{!-- signup --}}
                <div class="col-md-6 mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
                    <h2>Signup</h2>

                    <form class="form signup-form space-y-6" action="#" method="POST">
                        <div>
                            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Name</label>
                            <div class="mt-2">
                                <input id="name-signup" name="name" type="name" autocomplete="name" required
                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div>
                            <label for="email" class="block text-sm font-medium leading-6 text-gray-900">Email
                                address</label>
                            <div class="mt-2">
                                <input id="email-signup" name="email" type="email" autocomplete="current-email" required
                                    class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                            </div>
                        </div>
                        <div class="flex items-center justify-between">
                            <label for="password"
                                class="block text-sm font-medium leading-6 text-gray-900">Password</label>
                            <div class="text-sm">
                            </div>
                        </div>
                        <div class="mt-2">
                            <input id="password-signup" name="password" type="password" autocomplete="current-password"
                                required
                                class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
                        </div>
                        <div
                            class="form-group flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
                            <button class="btn btn-primary" type="submit">Signup</button>
                        </div>
                    </form>
                </div>


                <script src="/js/login.js"></script>


            </section>
            <footer class="modal-card-foot">
                <button class="button is-success">Save changes</button>
                <button class="button">Cancel</button>
            </footer>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>


    {{!-- js links --}}

    {{!-- logic for occurences in main.hbs --}}
    <script src="/js/mainPage.js"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>