<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Bulma CSS --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">

    {{!-- Google Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Bungee+Hairline&family=Bungee+Shade&family=Kulim+Park:wght@200;400;700&family=Limelight&display=swap"
        rel="stylesheet">
    {{!-- Our CSS --}}
    <link rel="stylesheet" href="/css/style.css">
    <title>AnyYes</title>
</head>

<body>
    {{!-- navigation bar --}}
    <nav class="navbar">
        {{!-- app/brand name --}}
        <div class="navbar-brand ml-4">
            <a href="/" class="nav-item">
                <h1 id="anyyes" class="">AnyYes</h1>
            </a>
            {{!-- burger must be last child of navbar-brand --}}
            <a role="button" id="burger" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {{!-- search bar --}}
        <div class="field is-grouped nav-item ml-6 mt-5 px-3" id="search">
            <p class="control is-expanded">
                <input class="input" id="search-bar" type="text" placeholder="Search for ANYITEM">
            </p>
            <p class="control">
                <a class="button is-info" id="search-btn">
                    Search
                </a>
            </p>
        </div>

        {{!-- actual nav links --}}
        <div id="menu" class="navbar-menu m-5 p-2">

            <div class="navbar-end">
                <a href="/" class="nav-item px-2">Home </a><br>
                <a href="/category/games" class="nav-item px-2">Games </a><br>
                <a href="/category/consoles" class="nav-item px-2">Consoles </a><br>

                {{#if logged_in}}
                <a href="/profile" class="nav-item px-2">Profile</a>
                <a href="/cart" class=" nav-item px-2">Cart</a>
                <a class="nav-item px-2">
                    <button class="no-button" id="logout">Quit</button>
                </a>

                {{else}}
                <a href="/login" class="nav-item px-2">Start</a>
                {{/if}}
            </div>
        </div>
        </div>
    </nav>

    {{{body}}}

    <footer>
        {{!-- bg image in css --}}
    </footer>

    {{!-- js links --}}
    <script src="/js/mainPage.js"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>