<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Bulma CSS --}}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    {{!-- Our CSS --}}
    <link rel="stylesheet" href="/css/style.css">
    <title>AnyYes</title>
</head>

<body>

    {{!-- navigation bar --}}
    <nav class="navbar">
        {{!-- app/brand name --}}
        <div class="navbar-brand">
            <a href="/" class="nav-item">
                <h1>AnyYes</h1>
            </a>
            {{!-- burger must be last child of navbar-brand --}}
            <a role="button" id="burger" class="navbar-burger" aria-label="menu" aria-expanded="false">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        {{!-- actual nav links --}}
        <div id="menu" class="navbar-menu">
            <div class="navbar-end">
                <a href="/" class="nav-item px-2">Home </a><br>
                <a href="/category/games" class="nav-item px-2">Games </a><br>
                <a href="/category/consoles" class="nav-item px-2">Consoles </a><br>

                {{#if logged_in}}
                <a href="/profile" class="nav-item px-2">Profile </a><br>
                <a class="nav-item px-2">
                    <button class="no-button" id="logout">Quit</button><br>
                </a>
                <a href="/cart" class=" nav-item px-2">View Cart</a>

                {{else}}
                <a href="/login" class="nav-item px-2">Start</a>
                {{/if}}
            </div>
        </div>

    </nav>







    {{{body}}}




    <footer>
        <div class="footer-content">
            <div class="footer-links">
                <a href="/about">About Us</a>
                <a href="/contact">Contact Us</a>
                <a href="/terms">Terms of Service</a>
                <a href="/privacy">Privacy Policy</a>
            </div>
            <p>&copy; 2023 AnyYes. All rights reserved.</p>
        </div>
    </footer>

    <script src="/js/navBurger.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>

</html>