<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Document</title>

</head>

<body>
    <nav>
        <a href="/">home</a>



        <a href="/games">games</a>
        <a href="/consoles">consoles</a>
        <a href="/login">login</a>
        <button class="no-button" id="logout">logout</button>
        {{!-- need if statement to show userpage link when logged in, as well as logout --}}
    </nav>

    





    {{{body}}}



    <script src="https://cdn.tailwindcss.com"></script>
    <script scr="/js/logout.js"></script>
    
</body>

</html>