<section class="blacktrs p-3" style="min-height:100vh;">
    <div id= "circle" class = "padding:">
    <p class = "has-text-centered is-size-5 p-3">Uh-uh, go back and surrender your Rupees.<br>
    Find a way to leave us a tip too, please. #proTip</p>
    </div>
</section>