<section class="blacktrs" style="min-height:100vh;">
    <div id= "circle" class = "padding:">
    <p class = "has-text-centered">Forgot to add something to your cart? Shop around then come back to pay!</p>
    </div>
</section>