
<div class="" id="cart-item">

    <h1 class="p-3 bbdouble">Your Cart:</h1>
    <div class="bbdouble" id= "cart-listing">
    
           
           

               {{!-- cart info in here from viewCart.js --}}

                </div>
            </div>
           
        </section>
    </div>


</div>



<script src="/js/viewCart.js"></script>
