<div>
    <div>
        <h1>Cart</h1>
        <div class="" id="cart-item">


        </div>
        <a href="/checkout?price={{price}}&name={{title}}" id="checkout">Checkout</a>
    </div>
</div>

<script src="/js/viewCart.js"></script>