  <h1> Any Consoles? </h1>

{{#each consoleListings}}
<div>
  
    <h2> {{ title }}</h2>
    <p>{{ price }}</p>
    <br>
    <br>
    <h3>{{ console_name }}</h3>
    <p>{{ description }}</p>

</div>
{{/each}}