<h1>kjsdfkjsdhf</h1>

{{#each games}}

<div>
    <div>
        <a>
            <div>
                <span>
                    <img src="">
                </span>
            </div>
            <div>
                <p>
                    {{title}}
                </p>
                <p>
                    {{description}}
                </p>
                <p>
                    {{price}}
                </p>
            </div>
        </a>
    </div>
</div>
{{/each}}