

<header>
    <h1 id="game-title" class="game-title">{{game.title}}</h1>
</header>

<main class="game">

    <section class="gameImg" alt="">
        <img src="">
    </section>

    <h2>{{game_name}}</h2>

    <button class="cart-btn button is-info">Add to Cart</button>


    <p>{{price}}</p>



    <p>{{description}}</p>

    


</main>



<footer>
    <h3>
        
    </h3>
</footer>

<script src="/js/addToCart.js"></script>