<h1> hi </h1>
<p> {{ myListings.[0].user.user_name }}</p>
<button id="sell-post" >Sell</button>

<form class="" id="listing-form" style="display: block;">

  <div class="">
    <h3>Sell any game or console:</h3>
    {{!-- all the fields and their input forms --}}

    {{!-- listing title --}}
    <div class="" id="ls-title">
      <label for="title">Title:</label>
      <input class="" type="text" id="title" name="title" />
    </div>

    {{!-- listing description --}}
    <div class="" id="ls-des">
      <label for="description">Description:</label>
      <textarea class="" id="description" name="description"></textarea>
    </div>

    {{!-- date posted will should be rendered on the actual listing, nothing for that in form --}}


    {{!-- category dropdown --}}
    <div class="" id="ls-category">
      <label for="cat-drop">What kind of item are you selling?</label>
      <select id="cat-drop" name="category_name">
        <option value="console">Console</option>
        <option value="game">Game</option>
        {{!-- <option value="accessory">Accessory</option> --}}
      </select>
    </div>

    {{!-- item name; js condition for this will be "if category is game, pass the value
    of this following form into game_name. if category is console, pass user input value
    into console_name --}}
    {{!-- <div class="" id="ls-name">
      <label for="item">Item Name:</label>
      <input class="" type="text" id="item" name="item_name" />
    </div> --}}
      <div class="" id="ls-name">
      <label for="item">Game Name:<br>If not selling a game, leave blank.</label>
      <input class="" type="text" id="item" name="item_name" />
    </div>

    {{!-- console_brand; company name --}}
    <div class="" id="ls-brand">
      <label for="console_brand">Brand Name:</label>
      <input class="" type="text" id="brand" name="console_brand" />
    </div>

    {{!-- year item came out --}}
    <div class="" id="ls-year">
      <label for="year">Year Item Released:</label>
      <input type="number" id="year" name="year" min="1950" max="2014" value = "2014"/>
    </div>

    {{!-- condition --}}
    <div class="" id="ls-condition">
      <label for="cond-drop">Condition:</label>
      <select id="cond-drop" name="condition">
        <option value="new">NEW</option>
        <option value="used">USED</option>
        <option value="damaged">DAMAGED</option>
      </select>
    </div>

    {{!-- price --}}
    <div class="" id="ls-price">
      <label for="price">Price:</label>
      <input class="" type="text" id="price" name="price" />
    </div>

    {{!-- color --}}
    <div class="" id="ls-color">
      <label for="clr-drop">Color:</label>
      <select id="clr-drop" name="color">
        <option value="black">Black</option>
        <option value="white">White</option>
        <option value="red">Red</option>
        <option value="blue">Blue</option>
        <option value="yellow">Yellow</option>
        <option value="green">Green</option>
        <option value="orangle">Orange</option>
        <option value="purple">Purple</option>
        <option value="brown">Brown</option>
        <option value="gold">Gold</option>
        <option value="silver">Silver</option>
      </select>
    </div>

    {{!-- special edition? --}}
    <div class="" id="ls-special">
      <label for="sp-ed">Is this a special edition?</label> <br>
      <input type="radio" id="sp-yes" name="is_special_edition" value="true">
      <label for="sp-yes">Yes</label><br>
      <input type="radio" id="sp-no" name="is_special_edition" value="false">
      <label for="sp-no">No</label><br>
    </div>

    {{!-- image --}}
    <div class="" id="ls-image">
      <label for="img-up">Upload image here:</label>
      <input class="" type="text" id="img-up" name="image" />

{{!-- need frontend js to implement checks to ensure user only uploads inages --}}
      <form enctype="multipart/form-data" action="/action_page.php">
        <input type="file" id="myFile" name="filename" accept="image/*">
        <input id="photo-submit" class="button is-outlined" type="submit">
      </form>

    </div>


    {{!-- submit button for making a listing form --}}
    <div class="button is-info">
      <button id="ls-submit" type="submit" class="" style="color:#fff">Yes! Submit</button>
    </div>
</form>

{{#each myListings }}
<div>

  <h2>One listing: {{ title }}</h2>
  <p> Order was made on {{ order.created_at }}</p>

</div>
{{/each}}

<script src="/js/listing.js"></script>