/* elements */
body {
    background-color: rgb(143, 63, 63);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
    font-family: 'Kulim Park';

}

nav {
    /* background-color: #375c7d !important; */
    background: linear-gradient(#243748, #2c4962, #375c7d) !important;
}

a {
    color: bisque !important;
}

a:hover {
    font-style: italic;
    font-weight: bolder;
}

h1 {
    font-family: 'Limelight';
    font-size: 2rem;
    color: bisque;
}



/* ids */
#anyyes,
#anyyes:hover {
    font-family: 'Bungee Shade';
    font-size: 4rem;
    font-style: normal;
}

#burger {
    background-color: transparent;
}

#logout {
    /* removes default HTML button styling */
    /* credit https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit in readme */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#menu {
    background-color: transparent;
}

#menu.navbar-menu.is-active {
    line-height: normal;
}


/* classes */
.navbar-burger {
    height: 6.25rem;
    width: 5.25rem;
}