/* elements */
body {
    background-image: url("../photos/brickr.png");
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: black;
    font-family: 'Kulim Park';
    font-weight: 700;
}

nav {
    background: linear-gradient(#243748, #2c4962, #375c7d) !important;
}

a {
    color: bisque !important;
}

a:hover {
    font-style: italic;
    font-weight: bolder;
}

h1 {
    font-family: 'Limelight';
    font-size: 2rem;
    color: bisque;
}

h2 {
    font-family: 'Limelight';
    font-size: 1.5rem;
    color: bisque;
}

footer {
    background-image: url("../photos/mario-gif_1.gif");
    background-size: auto;
    background-position: center;
    background-repeat: repeat;
    height: 300px;
    width: 100vw;
}


/* ids */
#anyyes,
#anyyes:hover {
    font-family: 'Bungee Shade';
    font-size: 4rem;
    font-style: normal;
}

#banner-text {
    background-color: rgba(250, 234, 214, 0.3);
    border-radius: 25px;
}

#burger {
    background-color: transparent;
}

#carousel {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero-banner {
    background-image: url("../photos/pxlart-3.jpeg");
    background-size: cover;
    background-position: center;
    filter: hue-rotate(106deg);
}

#inner-listing {
    background-color: rgba(250, 234, 214, 0.4);
    border: 10px double antiquewhite !important;
    border-radius: 25px;
    height: 100%;
}

#listing {
    background-color: rgba(250, 234, 214, 0.3);
    border-radius: 25px;
    box-shadow: 20px 20px 3px 3px black;
}


#logout,
#login-nav,
#add-ls-btn {
    /* removes default HTML button styling */
    /* credit https://stackoverflow.com/questions/2460100/remove-the-complete-styling-of-an-html-button-submit in readme */
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#menu {
    background-color: transparent;
}

#menu.navbar-menu.is-active {
    line-height: normal;
}

#modal-footer {

    background-image: url("../photos/mario-gif_1.gif");
    background-size: auto;
    background-position: bottom;
    background-repeat: repeat;
    height: 100px;
    width: 100vw;

}

#other-listing {
    background-color: rgba(250, 234, 214, 0.4);
    border: 5px double antiquewhite;
    border-radius: 25px;
    /* height: 100%; */
}


/* classes */
.bbdouble {
    border-bottom: 5px double antiquewhite;
    ;
}

.crsl-img {
    border-radius: 25px;
}

.navbar-burger {
    height: 6.25rem;
    width: 5.25rem;
}

.splide {
    padding: 0rem;
}

.splide__arrow svg {
    fill: antiquewhite !important;
}

/* credit xpert ai */
.splide__slide img {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    object-position: center;
}

/* mquery for carousel */
@media only screen and (min-device-width : 768px) {
    .splide {
        padding: 3rem;
    }
}

;

/* mquery for mobile effects */
@media only screen and (max-width : 768px) {
    #search-bar {
        text-align: center;
    }
}

;